<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="/jqgrid/themes/ui-darkness/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/jqgrid/css/ui.jqgrid.min.css" />
	<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="/jqgrid/js/grid.locale-cn.min.js" type="text/javascript"></script>
	<script src="/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
	<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
	<style type="text/css">
		body{
			margin: 0px;
			background: #333;
		}
	</style>
</head>
<body>
<table id="list"></table>
<div id="pager"></div>
<script type="text/javascript">
	$(function() {
		$(window.parent.frames['nav_frame'].document).find("a").removeClass("selected");
		$(window.parent.frames['head_frame'].document).find("a").removeClass("selected");
		$(window.parent.frames['nav_frame'].document).find("#agentsId a").attr("class","selected"); // a[href='/reports/all/managerPage']
	});
	function pageSize() {
		var winW, winH;
		if(window.innerHeight) {// all except IE
			winW = window.innerWidth;
			winH = window.innerHeight;
		} else if (document.documentElement && document.documentElement.clientHeight) {// IE 6 Strict Mode
			winW = document.documentElement.clientWidth;
			winH = document.documentElement.clientHeight;
		} else if (document.body) { // other
			winW = document.body.clientWidth;
			winH = document.body.clientHeight;
		}  // for small pages with total size less then the viewport
		return {WinW:winW, WinH:winH};
	}
	$(function(){
		$(window).resize(function(){
			$(window).unbind("onresize");
			var winWh = pageSize();
			$("#list").jqGrid('setGridWidth', winWh.WinW-16).jqGrid('setGridHeight', winWh.WinH-100);
			$(window).bind("onresize", this);
		});
	});

	$(document).ready(
		function() {
			var winWh = pageSize();
			jQuery("#list").jqGrid({
				url:'/agents/AllAgent',
				postData:{accessToken:"abcd"},
				datatype: "json",
				mtype : "GET",
				shrinkToFit:true,
				height: winWh.WinH-100,
				width:"100%",
				autowidth:true,
				colNames:['ID','机构名称','联系人','电话','地址'],
				colModel:[
					{name:'_id',index:'_id',editor:"text",editable : true,sorttype:'integer'}, //width:60,
					{name:'AgentName',index:'AgentName',editor:"text", editable : true, width:150},
					{name:'Contact',index:'Contact',editor:"text", editable : true, width:150},
					{name:'MobilePhone',index:'MobilePhone',editor:"text", editable : true, width:150},
					{name:'Addr',index:'Addr',editor:"text", editable : true, width:500},
				],
				loadonce: true,
				sortname:'_id',
				sortorder:'asc',
				viewrecords:true,
				rowNum:10,
				rowList:[10,20,30],
				pager:"#pager",
				caption: "机构管理",
				multiselect: false,
				jsonReader: {
					id: "_id",
					root : "rows",
					page:"page",
					total:"total",
					records:"records",
					repeatitems: false
				},
				loadComplete:function(xhr){
					var i =0;
				}
			});
			jQuery("#list").jqGrid('navGrid','#pager',{add:true,edit:true,del:true,search:false,refresh:false},
				{ // edit
					checkOnSubmit:false, closeAfterEdit: true,height:280,reloadAfterSubmit:false,modal: true,
					url:"/agents",
					mtype:"put",
					beforeShowForm : function(form) {
						form.find('#_id').attr('readOnly',true);    //把编辑框中的字段设置为只读的。
					},
					onclickSubmit: function(params, postData) {
						//alert(postData._id);
						params.url = "/agents/" + postData._id + "/name";
						return [true,''];
					},
					beforeSubmit:function(postData, formid) {
						return [true,''];
					},
					afterSubmit:function(response, postData){
						$("#list").jqGrid().setGridParam({datatype:'json',page:1}).trigger('reloadGrid');   //重新从服务器获取数据
						return [true,''];
					}
				},


				{ // add
					checkOnSubmit:false, closeAfterAdd: true,height:280,reloadAfterSubmit:false,modal: true,jqModal: true,addedrow:'last',
					url:"/agents",
					mtype:"post",
					beforeShowForm : function(form) {
						form.find('#_id').attr('readOnly',true);    //把编辑框中的字段设置为只读的。
					},
					onclickSubmit: function(params, postData) {
						params.url = "/agents/AddAgent" ;
						return [true,''];
					},
					beforeSubmit:function(postData, formid) {

						// check
						/* if(postData.id_room.replace(/(^s*)|(s*$)/g, "").length ==0)
						 {
						 return [false,'Name is empty!'];
						 }*/
						return [true,''];
					},
					afterSubmit:function(response, postData,editOrAdd){
						$("#list").jqGrid().setGridParam({datatype:'json',page:1}).trigger('reloadGrid');   //重新从服务器获取数据
						var result=response.responseJSON;

						// postData.id = result.id;
						return [true,"",result.id];
					}
				},
				{ // del
					checkOnSubmit:false, reloadAfterSubmit:false,modal: true,
					url:"/agents",
					mtype:"delete",
					onclickSubmit: function(params, postData) {
						params.url = "/agents/" + postData;
						//alert(params.url);
						return [true,''];
					},
					afterSubmit:function(response, postData) {
						$("#list").jqGrid().setGridParam({datatype:'json',page:1}).trigger('reloadGrid');   //重新从服务器获取数据
						return [true, ''];
					}
				},
				{} // search
			);
		});

	function SelectFun(id){
		jQuery("#list").jqGrid('setSelection',id);
	}
</script>
</body>
</html>
