<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="/jqgrid/themes/ui-darkness/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/jqgrid/css/ui.jqgrid.min.css" />
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script  type="text/javascript" src="/jqgrid/js/grid.locale-cn.min.js"></script>
	<script type="text/javascript" src="/jqgrid/js/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css"  href="/jQuery-Timepicker-Addon/css/jquery-ui-timepicker-addon.min.css" />
	<script type="text/javascript" src="/jQuery-Timepicker-Addon/js/jquery-ui-timepicker-addon.min.js"></script>
	<!--中文-->
	<script type="text/javascript" src="/jQuery-Timepicker-Addon/js/jquery.ui.datepicker-zh-CN.js"></script>

	<style type="text/css">
		body{
			#margin: 0px;
			background: #333;
		}
	</style>
</head>
<body>
<!--<h1><%= title %></h1>-->
<table id="list"></table>
<div id="pager"></div>
<script type="text/javascript">
	$(function() {
		$(window.parent.frames['nav_frame'].document).find("a").removeClass("selected");
		$(window.parent.frames['head_frame'].document).find("a").removeClass("selected");
		$(window.parent.frames['nav_frame'].document).find("#reportsId a").attr("class","selected"); // a[href='/reports/all/managerPage']
	});

	function pageSize() {
		var winW, winH;
		if(window.innerHeight) {// all except IE
			winW = window.innerWidth;
			winH = window.innerHeight;
		} else if (document.documentElement && document.documentElement.clientHeight) {// IE 6 Strict Mode
			winW = document.documentElement.clientWidth;
			winH = document.documentElement.clientHeight;
		} else if (document.body) { // other
			winW = document.body.clientWidth;
			winH = document.body.clientHeight;
		}  // for small pages with total size less then the viewport
		return {WinW:winW, WinH:winH};
	}
	$(function(){
		$(window).resize(function(){
			$(window).unbind("onresize");
			var winWh = pageSize();
			$("#list").jqGrid('setGridWidth', winWh.WinW-16).jqGrid('setGridHeight', winWh.WinH-100);
			$(window).bind("onresize", this);
		});
	});
	Date.prototype.format = function (fmt) {
		var o = {
			"M+": this.getMonth() + 1, //月份
			"d+": this.getDate(), //日
			"h+": this.getHours(), //小时
			"m+": this.getMinutes(), //分
			"s+": this.getSeconds(), //秒
			"q+": Math.floor((this.getMonth() + 3) / 3), //季度
			"S": this.getMilliseconds() //毫秒
		};
		if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		for (var k in o)
			if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		return fmt;
	};
	function formatter(value, options, rData) {
		return (new Date(value)).format("yyyy-MM-dd hh:mm:ss");
	}
	$(document).ready(
		function() {
			var winWh = pageSize();
			jQuery("#list").jqGrid({
				url:'/reports',
				datatype: "json",
				mtype : "GET",
				// postData:{'keyword':encodeURI(encodeURI(keyword))},
				// loadonce:true,
				shrinkToFit:true,
				height: winWh.WinH-100, // auto
				width:"100%",
				autowidth:true,
				colNames:["_ID","ID","病人姓名","类型","送诊科室","送诊医生","临床印象","用药情况","操作医生","诊断医生","审核医生",
					"记录仪号","记录类型","采样率","开始时间","记录历时","起搏","包含室早","包含室上早",
					"包含停搏","备注","诊断结论","血压诊断结论","诊断日期","审核日期","操作日期","送诊医生电话","送诊医生地址", '详细'],
				colModel:[
					{name:'_id',index:'_id', hidden:true,editable : false}, //width:60
					{name:'regid',index:'regid', hidden:true,editable : false}, //width:60
					{name:'name',index:'name',editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 病人姓名
					{name:'type',index:'type', hidden:true,editable : false,width:70, search: true, stype: 'text',formatter:"integer",
						searchoptions: {sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge']}}, // 报告类型
					{name:'sendDept',index:'sendDept',editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 科室名称
					{name:'sendDoctor',index:'sendDoctor',editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 医生姓名
					{name:'clinic',index:'clinic', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 临床印象
					{name:'medicine',index:'medicine', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 用药情况
					{name:'operator',index:'operator',editor:"text", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 操作医生
					{name:'doctor',index:'doctor',editor:"text", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 诊断医生
					{name:'auditing',index:'auditing',editor:"text", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 审核医生
					{name:'boxId',index:'boxId', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 记录仪号
					{name:'recordType',index:'recordType', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 记录类型
					{name:'sampleRate',index:'sampleRate', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 采样率
					{name:'startTime',index:'startTime',editor:"text",align:"center", editable : false,search: true,sorttype:'text', stype: 'text'}, // 开始时间
					{name:'duration',index:'duration',editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 记录历时
					{name:'isVLP',index:'isVLP', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 起搏
					{name:'isPM',index:'isPM', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 是否包含室早
					{name:'bHasPVC',index:'bHasPVC', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 是否包含室上早
					{name:'bHasPause',index:'bHasPause', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 是否包含停搏
					{name:'note',index:'note',editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 备注
					{name:'conclusion',index:'conclusion', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 诊断结论
					{name:'ABPConclusion',index:'ABPConclusion', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 血压诊断结论
					{name:'diagDate',index:'diagDate',editor:"text",align:"center", editable : false,search: true,sorttype:'text', stype: 'text'}, // 诊断日期
					{name:'auditDate',index:'auditDate',editor:"text",align:"center", editable : false,search: true,sorttype:'text', stype: 'text'}, // 审核日期
					{name:'operatorDate',index:'operatorDate',editor:"text",align:"center", editable : false,search: true,sorttype:'date', stype: 'text'}, // 操作日期 // datepicker({dateFormat: 'yy-mm-dd'})
					{name:'doctorPhone',index:'doctorPhone', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 送诊医生电话
					{name:'doctorAddress',index:'doctorAddress', hidden:true,editor:"text",align:"center", editable : false,stype: 'text',searchoptions:{
							sopt:["eq","ne","cn"]}}, // 送诊医生地址
					{name:'detail',index:'detail',align:"center", search: false,editable : false, width:200,sortable : false,formatter:Format,unformat:UnFormat} // 详细
				],
				sortname:'_id',
				sortorder:'desc',
				viewrecords:true,
				rowNum:10,
				rowList:[10,20,30],
				pager:"#pager",
				caption: "<%= title %>",
				multiselect: false,
				jsonReader: {
					id: "_id",
					root : "rows",
					page:"page",
					total:"total",
					records:"records",
					repeatitems: false
				},
				loadComplete:function(xhr){
				}
			});
			jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:true,search:true,refresh:false},
				{ // edit
					checkOnSubmit:false, closeAfterEdit: true,height:'auto',reloadAfterSubmit:false,modal: true,
					url:"/reports",
					mtype:"put",
					beforeShowForm : function(form) {
						form.find('#account').attr('readOnly',true);//把编辑框中的字段设置为只读的。
					},
					onclickSubmit: function(params, postData) {
						params.url = "/reports/" + postData.list_id + "/review";
						return [true,''];
					},
					beforeSubmit:function(postData, formid) {
						return [true,''];
					},
					afterSubmit:function(response, postData){
						if(response.responseJSON.ok == 1){
							return [true, ''];
						}else{
							return [false, '操作错误！'];
						}
					}
				},
				{ // add
					checkOnSubmit:false, closeAfterAdd: true,height:280,reloadAfterSubmit:false,modal: true,jqModal: true,addedrow:'last',
					url:"/users",
					mtype:"post",
					onclickSubmit: function(params, postData) {
						return [true,''];
					},
					beforeSubmit:function(postData, formid) {
						// check
						/* if(postData.id_room.replace(/(^s*)|(s*$)/g, "").length ==0)
						 {
						 return [false,'Name is empty!'];
						 }*/
						return [true,''];
					},
					afterSubmit:function(response, postData){
						var result=response.responseJSON;
						// postData.id = result.id;
						return [true,"",result.id];
					}
				},
				{ // del
					checkOnSubmit:false, reloadAfterSubmit:false,modal: true,
					url:"/reports",
					mtype:"delete",
					onclickSubmit: function(params, postData) {
						params.url = "/reports/" + postData;
						return [true,''];
					},
					beforeSubmit:function(postData, formid) {
						return [true,''];
					},
					afterSubmit:function(response, postData) {
						if(response.responseJSON.ok == 1){
							return [true, ''];
						}else{
							return [false, '操作错误！'];
						}
					}
				},
				{
					multipleSearch: true, multipleGroup: false,closeAfterSearch:true,modal: true
				} // search
			);
		});

	function Format(cellValue,options,rowObject){
		return '<a style="border:none;color:#77bf1a; background-color:transparent;width:100%;" href="/reports/'+ rowObject.regid +'/webPage?bglb='+ rowObject.bglb +'&accessToken=1k25td5DoFVps""'+' target="view_frame">详细'+ '</a>' +
			'    <a style="border:none;color:#77bf1a; background-color:transparent;width:100%;" href="/reports/'+ rowObject.regid +'/pdf?accessToken=1k25td5DoFVps&bglb=' + rowObject.bglb + '">下载' + '</a>';
	}
	function UnFormat(cellValue,options,cell){
		return $('input',cell).val();
	}
</script>
</body>
</html>
